/* * {
border: solid pink 2px;
} */

/* Hero section */

#Welcome {
    display: flex;
    flex-direction: column;
}

.rounded {
    height: 250px;
    
}

/* Work section */

.card-img-top {
    height: 550px;
}

#Skills {
    margin: 20px;
}
