* {
border: solid pink 2px;
}

/* Hero section */

#Welcome {
    display: flex;
    flex-direction: column;
}

.rounded {
    height: 250px;
    
}

/* Work section */

.largeItem {
    height: 300px;
}

.mediumItem {
    height: 200px;
}

.smallItem {
    height: 150px;
}
